<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PluginDirectory" value="C:\Dev\TVShow-Info\ShowInfo\bin\Debug"/>
        
        <!-- Rovi API information -->
        <add key="Rovi_APIKey" value=""/>
        <add key="Rovi_APISecret" value=""/>
    </appSettings>
</configuration>