<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- You can leave this blank if all data provider .dlls reside in your application directory -->
        <add key="PluginDirectory" value=""/>
        
        <!-- Rovi API information -->
        <add key="Rovi_APIKey" value=""/>
        <add key="Rovi_APISecret" value=""/>
    
        <!-- TheTVDB API information -->
        <add key="TheTVDB_APIKey" value="0FE04CA1D040B06E"/>

        <add key="AliasFile" value="showalias.json"/>
    </appSettings>
    <system.net>
        <defaultProxy enabled="true">
            <proxy proxyaddress="http://usproxy.es.oneadp.com:8080"/>
        </defaultProxy>
    </system.net>
</configuration>