<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- You can leave this blank if all data provider .dlls reside in your application directory -->
        <add key="PluginDirectory" value=""/>
        
        <!-- Rovi API information -->
        <add key="Rovi_APIKey" value=""/>
        <add key="Rovi_APISecret" value=""/>
    
        <!-- TheTVDB API information -->
        <add key="TheTVDB_APIKey" value=""/>
    </appSettings>
</configuration>